.testimonials {
  width: 212px;
  height: 36px;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 36px;
  /* identical to box height */

  opacity: 0.2;
}
