@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.html,
body {
  box-sizing: border-box;
  background-color: #06090d;
  color: #06090d;
}

:root {
  --background: #f5f5f5;
  --secondBgColor: #101010;
  --thirdBgColor: #424242;
  --textColor: #ed1c24;
  --sectionColor: #ed1c24;
  --navbarBgColor: #e8e8e8;
  --secondary: #c5c5c5;
  --color: #06090d;
  --secondColor: #999999;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

ul {
  list-style-type: none; /* Remove default bullets */
  padding-left: 20px; /* Add padding for custom bullets */
}

li::before {
  content: "\2022"; /* Unicode for bullet character */
  color: white; /* Set the color of the bullet */
  font-size: 20px; /* Adjust size of the bullet */
  margin-right: 10px; /* Space between the bullet and text */
}

.careers li::before {
  content: "\2022"; /* Unicode for bullet character */
  color: var(--secondary); /* Set the color of the bullet */
  font-size: 20px; /* Adjust size of the bullet */
  margin-right: 10px; /* Space between the bullet and text */
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
}

/* Increase bullet size */
.swiper-pagination-bullet {
  width: 16px !important; /* Default is 8px */
  height: 16px !important;
  background: #999999 !important; /* Change to a new color (e.g., orange) */
  opacity: 0.6; /* Make it slightly transparent */
  transform: translateY(-30px); /* Move the bullet slightly upwards */
}

/* Active bullet (current slide) */
.swiper-pagination-bullet-active {
  background: #424242 !important; /* Change to another custom color (e.g., blue) */
  opacity: 1; /* Full opacity */
  /* Slight zoom effect with more upward movement */
}
